# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.dll                   binary
*.ttf                   binary
*.jpg                   binary
*.mp3                   binary
*.zip                   binary
*.exe                   binary
*.png                   binary
*.psd                   binary
