.root {
  -fx-font-size: 1.2em;

  /***************************************************************************
   *                                                                         *
   * The main color palette from which the rest of the colors are derived.   *
   *                                                                         *
   **************************************************************************/

  /* A dark grey that is the base color for objects.  Instead of using
   * -fx-base directly, the sections in this file will typically use -fx-color.
   */
  -fx-base: #1f1f1f;

  /* A very light grey used for the background of windows.  See also
   * -fx-text-background-color, which should be used as the -fx-text-fill
   * value for text painted on top of backgrounds colored with -fx-background.
   */
  -fx-background: derive(-fx-base,0%);

  /* Used for the inside of text boxes, password boxes, lists, trees, and
   * tables.  See also -fx-text-inner-color, which should be used as the
   * -fx-text-fill value for text painted on top of backgrounds colored
   * with -fx-control-inner-background.
   */
  -fx-control-inner-background: derive(-fx-base,10%);
  /* Version of -fx-control-inner-background for alternative rows */
  -fx-control-inner-background-alt: derive(-fx-control-inner-background,2%);

  /* One of these colors will be chosen based upon a ladder calculation
   * that uses the brightness of a background color.  Instead of using these
   * colors directly as -fx-text-fill values, the sections in this file should
   * use a derived color to match the background in use.  See also:
   *
   * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
   * -fx-text-background-color for text on top of -fx-background
   * -fx-text-inner-color for text on top of -fx-control-inner-color
   * -fx-selection-bar-text for text on top of -fx-selection-bar
   */
  -fx-dark-text-color: #9E9E9E;
  -fx-mid-text-color: #E0E0E0;
  -fx-light-text-color: #F5F5F5;

  /* A medium green for highlighting/accenting objects.  For example: selected
   * text; selected items in menus, lists, trees, and tables; progress bars */
  -fx-accent: #609e15;

  /* Default buttons color, this is similar to accent but more subtle */
  -fx-default-button: derive(-fx-accent, -20%);

  /* A bright blue for the focus indicator of objects. Typically used as the
   * first color in -fx-background-color for the "focused" pseudo-class. Also
   * typically used with insets of -1.4 to provide a glowing effect.
   */
  -fx-focus-color: derive(-fx-color, 30%);
  -fx-faint-focus-color: transparent;

  /* The color that is used in styling controls. The default value is based
   * on -fx-base, but is changed by pseudoclasses to change the base color.
   * For example, the "hover" pseudoclass will typically set -fx-color to
   * -fx-hover-base (see below) and the "armed" pseudoclass will typically
   * set -fx-color to -fx-pressed-base.
   */
  -fx-color: -fx-base;

  /* Chart Color Palette */
  CHART_COLOR_1: #f3622d;
  CHART_COLOR_2: #fba71b;
  CHART_COLOR_3: #57b757;
  CHART_COLOR_4: #41a9c9;
  CHART_COLOR_5: #4258c9;
  CHART_COLOR_6: #9a42c8;
  CHART_COLOR_7: #c84164;
  CHART_COLOR_8: #888888;
  /* Chart Color Palette Semi-Transparent
   * These are used by charts that need semi transparent versions of the above colors, such as BubbleChart. They
   * are exactly the same colors as above just with alpha
   *
   * 20% opacity
   */
  CHART_COLOR_1_TRANS_20: #f3622d33;
  CHART_COLOR_2_TRANS_20: #fba71b33;
  CHART_COLOR_3_TRANS_20: #57b75733;
  CHART_COLOR_4_TRANS_20: #41a9c933;
  CHART_COLOR_5_TRANS_20: #4258c933;
  CHART_COLOR_6_TRANS_20: #9a42c833;
  CHART_COLOR_7_TRANS_20: #c8416433;
  CHART_COLOR_8_TRANS_20: #88888833;
  /* 70% opacity */
  CHART_COLOR_1_TRANS_70: #f3622db3;
  CHART_COLOR_2_TRANS_70: #fba71bb3;
  CHART_COLOR_3_TRANS_70: #57b757b3;
  CHART_COLOR_4_TRANS_70: #41a9c9b3;
  CHART_COLOR_5_TRANS_70: #4258c9b3;
  CHART_COLOR_6_TRANS_70: #9a42c8b3;
  CHART_COLOR_7_TRANS_70: #c84164b3;
  CHART_COLOR_8_TRANS_70: #888888b3;

  /***************************************************************************
   *                                                                         *
   * Colors that are derived from the main color palette.                    *
   *                                                                         *
   **************************************************************************/

  /* A gradient that goes from a little lighter than -fx-color at the top to
   * a little darker than -fx-color at the bottom and is used to fill the
   * body of many controls such as buttons.
   */
  -fx-body-color: derive(-fx-color,10%);

  /* Darker than -fx-background and used to draw boxes around text boxes and
   * password boxes.
   */
  -fx-text-box-border: transparent;

  /* The color to use as -fx-text-fill when painting text on top of
   * backgrounds filled with -fx-base, -fx-color, and -fx-body-color.
   */
  -fx-text-base-color: ladder(
      -fx-color,
      -fx-mid-text-color   30%,
      -fx-light-text-color 40%
  );


  /* The color to use for -fx-text-fill when text is to be painted on top of
   * a background filled with the -fx-background color.
   */
  -fx-text-background-color: -fx-light-text-color;

  /* Background for items in list like things such as menus, lists, trees,
   * and tables. */
  -fx-selection-bar: -fx-accent;

  /* Background color to use for selection of list cells etc. This is when
   * the control doesn't have focus or the row of a previously selected item. */
  -fx-selection-bar-non-focused: derive(-fx-accent, -50%);

  -fx-focused-text-base-color: ladder(
      -fx-selection-bar,
      -fx-dark-text-color 40%,
      -fx-mid-text-color 50%,
      -fx-light-text-color 60%
  );

  /* A little brighter than -fx-color and used to draw boxes around objects such
   * as progress bars, scroll bars, scroll panes, trees, tables, and lists.
   */
  -fx-box-border: ladder(
      -fx-color,
      derive(-fx-color,20%) 20%,
      derive(-fx-color,40%) 30%
  );

  /* These are NOT from modena. */
  -fx-context-menu-background: rgba(0, 0, 0, .8);
  -fx-tile-background:  rgba(50, 50, 50, .9);
  -fx-transparent-hover:  rgba(255, 255, 255, .1);
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color,derive(-fx-base,45%);
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color,derive(-fx-base,50%);
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color,derive(-fx-base,55%);
}

/***************** ChartPlot *****************/

.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: derive(-fx-background,10%);
    -fx-stroke-dash-array: 0.25em, 0.25em;
}
.chart-vertical-zero-line,
.chart-horizontal-zero-line {
    -fx-stroke: derive(-fx-text-background-color, 40%);
}

.axis {
    -fx-font-size: 1.2em;
}

/***************** Text field *****************/

.text-input {
  -fx-prompt-text-fill: derive(-fx-control-inner-background, 40%);
}

/***************** Remove ugly borders and default background introduced by modena *****************/

.scroll-pane,
.split-pane,
.list-view,
.tree-view,
.table-view,
.tree-table-view,
.html-editor {
  -fx-background: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-pane,
.split-pane {
  -fx-background-color: -fx-background;
}
.titled-pane > *.content {
    -fx-border-color: transparent;
}

/***************** Button-like things *****************/

.button,
.toggle-button,
.radio-button > .radio,
.check-box > .box,
.menu-button,
.choice-box,
.color-picker.split-button > .color-picker-label,
.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0;
}
.button:hover,
.toggle-button:hover,
.radio-button:hover > .radio,
.check-box:hover > .box,
.menu-button:hover,
.split-menu-button > .label:hover,
.split-menu-button > .arrow-button:hover,
.slider .thumb:hover,
.scroll-bar > .thumb:hover,
.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover,
.choice-box:hover,
.color-picker.split-button > .arrow-button:hover,
.color-picker.split-button > .color-picker-label:hover,
.combo-box-base:hover,
.combo-box-base:editable > .arrow-button:hover,
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-color: -fx-hover-base;
}
.button:armed,
.toggle-button:armed,
.radio-button:armed > .radio,
.check-box:armed .box,
.menu-button:armed,
.split-menu-button:armed > .label,
.split-menu-button > .arrow-button:pressed,
.split-menu-button:showing > .arrow-button,
.slider .thumb:pressed,
.scroll-bar > .thumb:pressed,
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed,
.choice-box:showing,
.combo-box-base:showing,
.combo-box-base:editable:showing > .arrow-button,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed {
    -fx-color: -fx-pressed-base;
}
.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;
}

/***************** Window *****************/

.decorated-window {
  -fx-background-color: black;
  -fx-background-image: url('images/background.jpg');
  -fx-background-position: center;
  -fx-border-width: 1;
  -fx-border-color: -fx-box-border;
}

.decorated-window:maximized {
  -fx-border-width: 0;
}

/***************** Main window header *****************/

.main-menu-button {
  -fx-background-color: transparent;
  -fx-background-image: url('images/main_menu.png');
  -fx-background-repeat: no-repeat;
  -fx-min-width: 64px;
  -fx-max-width: 64px;
  -fx-min-height: 32px;
  -fx-max-height: 32px;
}

.main-menu-button:hover {
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}

.username-button {
  -fx-padding: 0;
  -fx-focus-color: transparent;
  -fx-background-color: transparent;
}

.username-button:hover {
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}

.username-button > .label {
  -fx-text-fill: -fx-dark-text-color;
}

.username-button:hover > *.label {
  -fx-text-fill: -fx-light-text-color;
}

.context-menu {
  -fx-background-color: -fx-context-menu-background;
  -fx-text-fill: -secondary-text-color;
  -fx-min-width: 120px;
  -fx-border-color: -fx-box-border;
}

.main-navigation > .toggle-button {
  -fx-font-size: 1.5em;
  -fx-text-fill: -fx-dark-text-color;
  -fx-background-color: transparent;
}

.main-navigation > .toggle-button:hover {
  -fx-text-fill: -fx-mid-text-color;
  -fx-effect: dropshadow(gaussian, rgba(255,255,255,.2), 5, 0.8, 0, 0);
}

.main-navigation > .toggle-button:selected {
  -fx-text-fill: -fx-light-text-color;
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}


/***************** Status bar *****************/

.status-bar {
  -fx-border-width: 1 0 0 0;
  -fx-border-color: -fx-box-border;
}

.status-bar .text {
  -fx-font-size: .9em;
}

.status-bar .tooltip {
  -fx-font-size: 1.2em;
}

.status-bar-menu-button {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
}
.status-bar-menu-button > .label {
  -fx-padding: 0 2 0 0;
}
.status-bar-menu-button:openvertically > .arrow-button > .arrow {
  -fx-shape: "M0 1 L1 1 L.5 0 Z";
}

/***************** Table *****************/

.table-view {
  -fx-background-color: transparent;
  -fx-control-inner-background: #FFFFFF00;
  -fx-control-inner-background-alt: #FFFFFF11;
}

.table-view > .virtual-flow {
  -fx-color: transparent;
}

.table-view > .virtual-flow .scroll-bar > .thumb {
  -fx-color: -fx-base;
}
/***************** Notification button *****************/

.notification-button {
  -fx-min-width: 2.5em;
  -fx-min-height: 2.5em;
}

.notification-button:info {
  -fx-base: -fx-accent;
}

.notification-button:warn {
  -fx-base: #e2932c;
}

.notification-button:error {
  -fx-base: #cb3d3d;
}

/***************** News *****************/

.news-item {
  -fx-border-color: derive(-fx-box-border, 10%);
  -fx-border-width: 0 0 1 0;
  -fx-cursor: hand;
  -fx-text-fill: -fx-mid-text-color;
}

.news-item:hover {
  -fx-background-color: -fx-transparent-hover;
  -fx-color: -fx-hover-base;
  -fx-text-fill: -fx-light-text-color;
}

.news-item-image {

}

.news-item-title {
  -fx-font-size: 1.2em;
}

.news-item-text {

}

.news-item-authored {
  -fx-text-fill: -fx-dark-text-color;
  -fx-font-size: 0.8em;
}

/***************** Notifications *****************/

.persistent-notifications {
  -fx-background-color: -fx-background;
  -fx-background-radius: 5;
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}

.no-notifications {
  -fx-text-fill: -fx-dark-text-color;
}

.notification-close-button {
  -fx-background-color: transparent;
  -fx-background-radius: 1.0em;
  -fx-padding: 0;
  -fx-min-width: 20;
  -fx-min-height: 20;
}

.notification-close-button:hover {
  -fx-background-color: -fx-control-inner-background;
}

.notification-icon {
  -fx-font-family: "FontAwesome";
  -fx-font-size : 2.5em;
}

.notification-icon.info {
  -fx-text-fill : -fx-accent;
}

.notification-icon.warn {
  -fx-text-fill : #e2932c;
}

.notification-icon.error {
  -fx-text-fill : #cb3d3d;
}


/***************** Create game *****************/

.create-game-popup {
  -fx-background-color: -fx-background;
  -fx-background-radius: 5;
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}

/***************** Enter game password *****************/

.enter-game-password {
  -fx-background-color: -fx-background;
  -fx-background-radius: 5;
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}

/***************** Tabs *****************/

.tab-header-background {
  -fx-background-color: transparent;
}

/***************** Range Slider *****************/

.slider > .axis:bottom {
  -fx-padding : 50, 50, 50, 50;
  -fx-margin : 50, 50, 50, 50;
}

/***************** Progress bar *****************/

.progress-bar {
    -fx-indeterminate-bar-length: 40;
    -fx-indeterminate-bar-animation-time: 1.5;
}
.progress-bar > .bar {
    -fx-padding: 0;
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

/***************** Game detail *****************/

.map-preview {
  -fx-effect: dropshadow(gaussian, #ffffff66, 5, 0.8, 0, 0);
}

/***************** Window decoration *****************/

.window-button {
  -fx-background-color: transparent;
  -fx-min-height: 20px;
  -fx-max-height: 20px;
  -fx-margin: 0;
  -fx-padding: 0;
}

.window-button:hover {
  -fx-background-color: -fx-body-color;
}

.window-button:pressed {
  -fx-background-color: derive(-fx-body-color, -10%);
}

#minimizeButton {
  -fx-background-image: url('images/minimize.png');
  -fx-min-width: 28px;
  -fx-max-width: 28px;
}

#maximizeButton {
  -fx-background-image: url('images/maximize.png');
  -fx-min-width: 27px;
  -fx-max-width: 27px;
}

#restoreButton {
  -fx-background-image: url('images/restore.png');
  -fx-min-width: 27px;
  -fx-max-width: 27px;
}

#closeButton {
  -fx-background-image: url('images/close.png');
  -fx-min-width: 48px;
  -fx-max-width: 48px;
}
#closeButton:hover {
  -fx-background-color: #D32F2F;
}
#closeButton:pressed {
  -fx-background-color: derive(#D32F2F, -40%);
}

/***************** Login *****************/

.login .text-field {
  -fx-padding: .6em;
  -fx-font-size: 1.3em;
}

.login .button {
  -fx-padding: .7em;
}

.login .button > .text {
  -fx-font-size: 1.3em;
}

.login-icon {
 -fx-effect: dropshadow(gaussian, rgba(255,255,255,.2), 15, 0.8, 0, 0);
}

/***************** Web view *****************/

.web-view {
  -fx-background: transparent;
}

/***************** Chat (WebView, therefore default CSS). Java FX  variables can't be used *****************/

html, body {
  /* TODO WebView does not yet allow transparency. As a workaround, we use a black background together with WebView set to blend mode LIGHTEN. */
  background-color: black;
  margin: 0;
  padding: 0;
  /* Use same as -fx-light-text-color */
  color: #F5F5F5;
}

a {
  /* Use same as -fx-accent */
  color: #609e15;
  text-decoration: none;
}

#chat-table {
  width: 100%;
  border-collapse: collapse;
}

.own-username {
  color: orange;
}

.chat-message {
  font-family: System;
  font-size: 14px;
  /* Same height as avatar */
  line-height: 20px;
}

.chat-message.message .username::after {
  content: ':';
}

.chat-message.action {
  font-style: italic;
}

.chat-message:nth-of-type(odd) {
  background-color: rgba(255,255,255,0.06667);
}

.chat-message * {
  padding: 0 2px;
  word-wrap: break-word;
}

.chat-message td {
  vertical-align: top;
}

.chat-message .time {
}

.chat-message > .avatar {
  width: 40;
  height: 20px;
  padding: 0 2px;
}

.avatar>img {
  display: block;
}

.chat-message .text {
  width: 100%;
}

.chat-message .username {
  padding-right: 10px;
  max-width: 50%;
  text-align: right;
  white-space: nowrap;
}

.chat-message.self {
  color: orange;
}
