html, body {
  margin: 0;
  padding: 0;
}

#chat-table {
  width: 100%;
  border-collapse: collapse;
}

.chat-message {
  font-family: System;
  font-size: 12px;
}

.chat-message:nth-of-type(odd) {
  background-color: #eee;
}

.chat-message * {
  padding: 0 2px;
  word-wrap:break-word;
}

.chat-message td {
  vertical-align: top;
}

.chat-message .time {
}

.chat-message .avatar {
  width: 28px;
  padding: 0 2px;
}

.chat-message .text {
  width: 100%;
}

.chat-message .username {
  padding-right: 10px;
  max-width: 100;
  text-align: right;
}
