<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Client logs -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.faforever.client.util.MaskPatternLayout">
				<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			</layout>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
	</appender>

	<appender name="FILE_CLIENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.faforever.client.util.MaskPatternLayout">
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</layout>
			<charset>${FILE_LOG_CHARSET}</charset>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN:-${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
			<cleanHistoryOnStart>${LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
			<maxFileSize>${LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE:-10MB}</maxFileSize>
			<totalSizeCap>${LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP:-0}</totalSizeCap>
			<maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-7}</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE_CLIENT" />
	</root>

	<!-- Advanced ICE logs -->
	<appender name="FILE_ICE_ADVANCED"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%msg%n
			</Pattern>
		</encoder>
		<file>${ICE_ADVANCED_LOG:-${java.io.tmpdir:-/tmp}/advanced_ice.log}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<fileNamePattern>${ICE_ADVANCED_LOG:-${java.io.tmpdir:-/tmp}/advanced_ice.log}.%d{yyyy-MM-dd}.gz
			</fileNamePattern>
			<maxHistory>7</maxHistory>
			<totalSizeCap>30MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<logger name="faf-ice-adapter-advanced" additivity="false" level="debug">
		<appender-ref ref="FILE_ICE_ADVANCED"/>
	</logger>

	<!-- Map Generator Logs -->
	<appender name="FILE_MAP_GENERATOR"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%msg%n
			</Pattern>
		</encoder>
		<file>${MAP_GENERATOR_LOG:-${java.io.tmpdir:-/tmp}/map_generator.log}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<fileNamePattern>${MAP_GENERATOR_LOG:-${java.io.tmpdir:-/tmp}/map_generator.log}.%d{yyyy-MM-dd}.gz
			</fileNamePattern>
			<maxHistory>1</maxHistory>
			<totalSizeCap>1MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<logger name="faf-map-generator" additivity="false" level="debug">
		<appender-ref ref="FILE_MAP_GENERATOR"/>
	</logger>

	<!-- Chat Service Logs -->
	<appender name="FILE_IRC"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%msg%n
			</Pattern>
		</encoder>
		<file>${IRC_LOG:-${java.io.tmpdir:-/tmp}/irc.log}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<fileNamePattern>${IRC_LOG:-${java.io.tmpdir:-/tmp}/irc.log}.%d{yyyy-MM-dd}.gz
			</fileNamePattern>
			<maxHistory>1</maxHistory>
			<totalSizeCap>30MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<logger name="faf-irc" additivity="false" level="debug">
		<appender-ref ref="FILE_IRC"/>
	</logger>

</configuration>