.root {
  -fx-base: #212121;
  -fx-accent: #2b71d9;
  -fx-hover-accent: #2b71d920;
  -fx-light-text-color: #DCDCDC;
  -fx-background: -fx-base;
  -fx-text-background-color: #DCDCDC;
  -fx-uninstall-color: #8b0000;

  -unread: derive(#00ff00, 80%);

  -good: #4caf50;
  -warn: #ff9800;
  -bad: #f44336;

  -warn-transparent: #ff98001a;

  AEON_COLOR: #4caf50;
  CYBRAN_COLOR: #f44336;
  UEF_COLOR: #2196f3;
  SERAPHIM_COLOR: #ffc107;

  HIGHLIGHT_COLOR: #ff9800;

  SHADOW_COLOR: #00000099;
  SCROLLBAR_TRACK_COLOR: transparent;
  SCROLL_BAR_THUMB_COLOR: derive(-fx-base, 20%);

  REVIEW_SCORE_5: #117D3C;
  REVIEW_SCORE_4: #9BD454;
  REVIEW_SCORE_3: #d4bb5a;
  REVIEW_SCORE_2: #e9985d;
  REVIEW_SCORE_1: #ae453b;

  DISCORD_COLOR: #7289da;

  -divider-color: #424242;
  -card-color: #424242CC;
  -card-watched-color: #A8A8A882;
  -dimmer-color: #21212199;
  -fx-text-color: #fff;
  -darkened-color: dimgrey;

  -context-menu-color: #3c3f41;
  -context-menu-border-color: #868686;
  -menu-item-label-color: #DCDCDC;

  FRIEND_IN_GAME_NOT_SELECTED_ITEM: rgba(42, 253, 53, 0.1);
  FRIEND_IN_GAME_SELECTED_ITEM: rgba(42, 253, 53, 0.35);
}
