/*****************

All the following applies to the content of a WebViews (chat, news), therefore it's default CSS.

*****************/

html, body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  /* Use same as -fx-light-text-color */
  color: #DCDCDC;
  font-family: 'System', 'sans-serif';
  font-size: 14px;
}

a {
  /* Use same as -fx-accent */
  color: #2b71d9;
  text-decoration: none;
}

/***************** Search (WebView) *****************/
.highlight {
  background-color: rgba(255, 255, 0, 0.7);
  color: black;
  border-radius: 3px;
}

/***************** Chat (WebView) *****************/

.chat-section {
  overflow: hidden;
}

.chat-section * {
  word-wrap: break-word;
}

.chat-section.extended {
  padding: 1em;
  /* Same color as -divider-color */
  border-bottom: 1px solid #424242;
}

img.avatar,
img.country-flag {
  margin-right: 0.2em;
}

.chat-section.extended img.avatar[src=""],
.chat-section.extended img.country-flag[src=""] {
  display: none;
  padding: 0;
  margin: 0;
}

.chat-section-head {
  margin-bottom: 0.2em;
}

.chat-section .clan-tag:empty {
  display: none;
}

.chat-section.extended img.avatar,
.chat-section.extended img.country-flag,
.chat-section.extended .author {
  display: inline-block;
  vertical-align: middle;
}

.chat-section .username {
  /* Same as -primary-text-color */
  color: #fafafa;
  cursor: pointer;
  font-weight: bold;
}

.chat-section.extended .username {
  margin-right: 0.5em;
}

.chat-section .username:hover {
  text-decoration: underline;
}

.chat-section .clan-tag {
  /* Use same as -fx-light-text-color */
  color: #DCDCDC;
  cursor: pointer;
  font-weight: bold;
}

.chat-section .clan-tag:hover {
  text-decoration: underline;
}

.chat-section .time {
  /* Same as -fx-mid-text-color */
  color: #757575;
  font-size: 10px;
}

.chat-section .text {
  /* Use same as -fx-light-text-color */
  color: #DCDCDC;
}

.chat-section.extended .text {
  padding-left: 1em;
}

.chat-section.compact .text {
  padding-left: .2em;
}

.chat-section.compact {
  padding: 0 .25em;
}

.chat-section.compact,
.chat-section.compact .messages-wrapper {
  width: 100%;
}

.chat-section.compact img.avatar[src=""],
.chat-section.compact img.country-flag[src=""] {
  visibility: hidden;
}

.chat-section.compact td.author {
  vertical-align: top;
  min-width: 200px;
}

.chat-section.compact td.author * {
  vertical-align: middle;
  line-height: 1em;
}

.chat-section.compact .text {
  display: block;
  width: 100%;
}

.chat-section.compact td.author,
.chat-section.compact td.time {
  white-space: nowrap;
  vertical-align: top;
}

.chat-section.compact .avatar {
  min-width: 40px;
}

.chat-section.compact .country-flag {
  min-width: 16px;
}

.chat-section.text.action {
  font-style: italic;
}

.username.friend {
  color: #16B7EB;
}

.username.foe {
  /* Same as -bad */
  color: #f44336;
}

.username.moderator {
  color: #FFFFFF;
}

.username.chat_only {
  color: #808080;
}

/* Username and mentions */

.self,
.username.self {
  color: #FFA500;
}

/***************** News (WebView) *****************/

html.news-detail {
  padding: 20px;
}

.news-detail img {
  display: block;
  max-width: 100%;
  height: auto !important;
}

/***************** Tournaments (WebView) *****************/

html.tournament {
  padding: 20px;
}

.tournament th {
  text-align: left;
}

.tournament img {
  background: rgba(255, 255, 255, .1);
}
