.secondary {
  -fx-text-fill: derive(-fx-text-background-color, -30%);
}

/***************** Buttons *****************/

.button,
.toggle-button {
  -fx-graphic-text-gap: 0.666667em;
}

.more-button {
  -fx-pref-height: 24em;
}

/***************** Split Pane *****************/

.split-pane > .split-pane-divider {
  -fx-padding: 0;
}

/***************** Tab Pane *****************/

.tab-pane > .tab-header-area {
  -fx-background-color: -fx-background;
  -fx-background: #FFFFFF12;
  -fx-padding: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-background-insets: 0 1 0 1;
  -fx-border-insets: 0 1 0 1;
}

.close-search-text-button {
  -fx-min-height: 2em;
  -fx-max-height: 2em;
  -fx-min-width: 2em;
  -fx-max-width: 2em;
  -fx-margin: 0;
  -fx-padding: 0;
  -fx-background-radius: 0;
}

.close-search-text-button .icon {
  -fx-shape: "M 0 3 L 3 0 L 30 27 L 57 0 L 60 3 L 33 30 L 60 57 L 57 60 L 30 33 L 3 60 L 0 57 L 27 30 Z";
  -fx-max-width: 10;
  -fx-max-height: 10;
}

.close-search-text-button:hover {
  -fx-background-color: #FFFFFF33;
  -icon-paint: white;
}

.close-search-text-button:pressed {
  -fx-background-color: #FFFFFF66;
  -icon-paint: white;
}

.bad {
  -fx-text-fill: -bad;
}

.bad > .jfx-check-box {
  -jfx-unchecked-color: -bad;
}

.checked-icon {
  -fx-text-fill: -fx-accent;
}

/***************** Dimmer *****************/

/* Dims the background of a modal popup */
.dimmer {
  -fx-background: -dimmer-color;
  -fx-background-color: -fx-background;
}

/***************** Modal Popup *****************/

.modal-popup {
  -fx-background-color: -fx-base;
  -fx-border-color: -fx-box-border;
}

/***************** Status bar *****************/

.status-bar .prgress-indicator {
  -fx-pref-height: 1em;
  -fx-pref-width: 1em;
}

.status-bar .jfx-spinner {

}

.status-bar {
  -fx-spacing: 10;
  -fx-background-color: #FFFFFF12;
}

.status-bar-menu-button {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
}

.status-bar-menu-button > .label {
  -fx-padding: 0.166667em 0.5em;
}

.status-bar-menu-button:openvertically > .arrow-button > .arrow {
  -fx-shape: "M0 1 L1 1 L.5 0 Z";
}

.connection-status .circle-icon {
  -fx-background-color: -fx-light-text-color;
  -fx-min-width: 0.833333em;
  -fx-max-width: 0.833333em;
  -fx-min-height: 0.833333em;
  -fx-max-height: 0.833333em;
  -fx-scale-shape: true;
}

.connection-status .text {
  -fx-font-size: 0.7em;
}

.connection-status:connected .circle-icon {
  -fx-background-color: -good;
}

.connection-status:disconnected .circle-icon {
  -fx-background-color: -bad;
}

/***************** Tabs *****************/

.tab:unread {
  -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-accent;
}

/***************** Headers *****************/

.header {
  -fx-font-size: 1.6em;
  -fx-padding: 1em;
}

/***************** Generic View Content *****************/

.view-content {
  -fx-padding: 0 1.5em;
  -fx-spacing: 0.833333em;
  -fx-hgap: 0.833333em;
  -fx-vgap: 0.833333em;
}

/***************** Headings *****************/

.h1 {
  -fx-font-size: 32px;
  -fx-padding: 0 0 0.5em 0;
}

.h2 {
  -fx-font-size: 24px;
  -fx-padding: 0 0 0.5em 0;
}

.h3 {
  -fx-font-weight: bold;
}

/***************** Titled pane *****************/

.titled-pane > .title {
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-border-color: -fx-box-border;
  -fx-font-weight: bold;
}

.titled-pane > .content {
  -fx-border-color: transparent;
}

.titled-pane > .content > VBox {
  -fx-padding: 0;
}

.titled-pane > .title > .arrow-button > .arrow {
  -fx-background-insets: 0;
  -fx-effect: null;
}

.titled-pane > *.content {
  -fx-background-color: transparent;
}

/***************** Chat User List *****************/

.chat-channel-users-pane {
  -fx-background-color: -fx-background;
  -fx-background: #FFFFFF08;
}

.chat-user-item {
  -fx-padding: 0;
}

.chat-user-item-status {
  -fx-font-size: 0.8em;
}

.chat-user-list-view .list-cell {
  -fx-background-color: transparent;
  -fx-padding: 1px 8px 1px 8px;
}

.chat-user-list-category {
  -fx-padding: 20px 0px 10px 0px;
  -fx-font-weight: bold;
}

/***************** Chat User Control *****************/

.channel-tab-friends-title .chat-user-control-clan .text,
.channel-tab-friends-title .chat-user-control-username .text {
  -fx-fill: #16B7EB;
}

.channel-tab-foes-title .chat-user-control-clan .text,
.channel-tab-foes-title .chat-user-control-username .text {
  -fx-fill: #FF0000;
}

.channel-tab-moderators-title .chat-user-control-clan .text,
.channel-tab-moderators-title .chat-user-control-username .text {
  -fx-fill: #FFFFFF;
}

.channel-tab-chat-only-title .chat-user-control-clan .text,
.channel-tab-chat-only-title .chat-user-control-username .text {
  -fx-fill: #808080;
}

.channel-tab-others-title .chat-user-control-clan .text,
.channel-tab-others-title .chat-user-control-username .text {
  -fx-fill: #BFBEBA;
}

.chat-user-control-clan.self,
.chat-user-control-username.self {
  -fx-fill: HIGHLIGHT_COLOR;
}

.chat-user-control-clan {
  -fx-background-color: transparent;
}

.chat-user-control-clan .label {
  -fx-padding: 0;
}

.chat-user-control-clan > .arrow-button,
.chat-user-control-clan > .arrow-button > .arrow {
  -fx-padding: 0;
  visibility: hidden;
}

.chat-user-control-clan:hover > .arrow-button,
.chat-user-control-clan:hover > .arrow-button > .arrow {
  /* Restore value from Modena */
  -fx-padding: 0.25em;
  visibility: visible;
}

/***************** Privat Chat User Info *****************/

.private-chat-user-info-data {
  -fx-font-size: 14px;
}

/***************** Chat User Filter *****************/

.filter-user {
  -fx-background-color: -fx-background;
  -fx-background: -fx-base;
}

/***************** User Info Window *****************/

.user-info-header-area {
  -fx-background-color: -fx-background;
  -fx-background: #FFFFFF12;
}

.user-info-header-area .label {
  /** Shouldn't be overridden but color ladder doesn't work well with transparency */
  -fx-text-fill: -fx-light-text-color;
}

.user-info-window .tab .icon {
  /** Shouldn't be overridden but color ladder doesn't work well with transparency */
  -fx-background-color: -fx-light-text-color;
}

/***************** Main window header *****************/

.main-navigation-top {
  -fx-padding: 9 0 0 0;
  -fx-background-color: #FFFFFF12;
}

.main-navigation-top .navigation-dropdown {
  -fx-padding: 0;
  -fx-min-width: 0;
}

.main-navigation-top .navigation-dropdown > .list-cell:selected {
  visibility: hidden;
  -fx-padding: 0;
}

.root:maximized .main-navigation-top {
  -fx-padding: 0 0 0 0;
}

.toggle-button {
  -fx-background: -fx-control-inner-background;
}

.main-navigation-button {
  -fx-background: transparent;
  -fx-background-color: -fx-background;
  -fx-font-size: 1.2em;
  -fx-padding: 0.5em 1.5em;
  -fx-border-width: 0 0 4 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
}

.main-navigation-button:highlighted {
  -fx-background-color: -fx-accent;
}

.main-navigation-button:hover {
  -fx-border-color: -fx-selection-bar-non-focused;
  -fx-background: #FFFFFF12;
}

.main-navigation-button:armed, .main-navigation-button:selected, .main-navigation-button:focused:selected {
  -fx-background-color: #FFFFFF33;
  -fx-border-color: -fx-accent;
}

.main-menu-button {
  -fx-color: transparent;
}

.main-menu-button:hover {
  -fx-color: -fx-hover-base;
}

.main-menu-button > .label {
  visibility: hidden;
  -fx-padding: 0;
}

.main-menu-button > .arrow-button {
  -fx-padding: 1em;
  -fx-background: transparent;
}

.main-menu-button > .arrow-button > .arrow {
  -fx-padding: 0.416667em;
}

.user-button {
  -fx-background-color: -fx-background;
  -fx-background: transparent;
  -fx-focus-color: transparent;
  -fx-translate-y: -8;
}

.root:maximized .user-button {
  -fx-translate-y: 0;
}

.user-button:hover {
  -fx-background-color: -fx-hover-base;
}

/***************** News & Tournaments *****************/

.news-item, .tournament-item {
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 1 0;
  -fx-padding: 20 10 20 10;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
}

.news-item:hover, .tournament-item:hover {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -fx-selection-bar-non-focused;
}

.news-list .list-cell:filled:selected .news-item, .tournament-list .list-cell:filled:selected .tournament-item {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -fx-accent;
}

.news-item-authored {
  -fx-font-size: 0.8em;
  -fx-text-fill: -fx-mid-text-color;
}

.news-list .list-cell, .tournament-list .list-cell {
  -fx-padding: 0 0 0 0;
  -fx-background-color: transparent;
}

/***************** Tutorials *****************/

.tutorial-item {
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 1 0;
  -fx-cursor: hand;
  -fx-text-fill: -fx-mid-text-color;
  -fx-padding: 20 10 20 10;
  -fx-background-radius: 0;
}

.tutorial-item:hover {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -fx-selection-bar-non-focused;
}

.tutorial-item:selected {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -fx-accent;
}

.tutorial-item-authored {
  -fx-text-fill: -secondary-text-color;
  -fx-font-size: 0.8em;
}

.tutorial-category-title {
  -fx-text-fill: -fx-light-text-color;
  -fx-font-size: 1.2em;
}

.tutorial-category-item {
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 1 0;
  -fx-text-fill: -fx-mid-text-color;
  -fx-padding: 20 10 20 10;
  -fx-background-radius: 0;
}

.tutorial-detail-title {
  -fx-font-size: 1.2em;
}

/***************** Top right Menu *****************/

.main-navigation-top .right-menu {
  -fx-spacing: 0.416667em;
}

/***************** Notification Button *****************/

.inbox-button {
  -fx-padding: 0;
  -fx-background-color: null;
}

.inbox-icon {
  -fx-background-color: -fx-light-text-color;
  -fx-min-width: 2em;
  -fx-max-width: 2em;
  -fx-min-height: 2em;
  -fx-max-height: 2em;
  -fx-scale-shape: true;
}

.inbox-button .badge {
  -fx-border-radius: 10em;
  -fx-background-radius: 10em;
  -fx-background-color: HIGHLIGHT_COLOR;
  -fx-max-width: 0.833333em;
  -fx-max-height: 0.833333em;
  -fx-translate-y: -0.25em;
  -fx-border-color: -fx-base;
  -fx-border-width: 1;
}

.inbox-button .badge.info {
  -fx-background-color: -fx-accent;
}

.inbox-button .badge.warn {
  -fx-background-color: -warn;
}

.inbox-button .badge.error {
  -fx-background-color: -bad;
}

/***************** Transient Notification *****************/

.transient-notification {
  -fx-background-color: -fx-base;
}


/***************** Persistent Notification *****************/

.persistent-notifications {
  -fx-background-color: -fx-base;
  -fx-border-width: 1;
  -fx-border-radius: 1;
  -fx-border-color: -fx-box-border;
}

/***************** Create game *****************/

.game-title-input {
  -fx-font-size: 2em;
}

.game-generate-map {
  -fx-background: -fx-selection-bar-non-focused;
  -fx-graphic-text-gap: 0.75em;
}

.game-generate-map:hover {
  -fx-background: -fx-accent;
}

.button-mini-label {
  -fx-font-size: 0.75em;
  -fx-background-radius: 3;
  -fx-padding: 0.166667em 0.416667em;
  -fx-background-color: -fx-background;
  -fx-background: HIGHLIGHT_COLOR;
}

.create-game-dual-list-cell > .right-label {
  -fx-text-fill: -fx-mid-text-color;
}

/***************** Settings window *****************/

.settings .label {
  -fx-wrap-text: true;
}

.settings .tab-header-area {
  -fx-background-color: -fx-background;
  -fx-background: #FFFFFF12;
  -fx-padding: 0;
}

.settings .tab-header-area .headers-region .tab {
  -fx-background: transparent;
  -fx-border-width: 0 0 4 0;
  -fx-border-color: transparent;
  -fx-padding: 1em;
}

.settings > .tab-header-area .headers-region .tab:hover {
  -fx-background-color: -fx-background;
  -fx-background: #FFFFFF12;
}


.settings .tab-header-area .headers-region .tab:selected {
  -fx-background: #FFFFFF33;
  -fx-border-width: 0 0 4 0;
}

.settings .tab-header-area .headers-region .tab:selected .tab-label,
.settings .tab-header-area .headers-region .tab:hover .tab-label {
  /* TODO this should be -fx-text-background-color but it was always too dark. Figure out why. */
  -fx-text-fill: -fx-light-text-color;
}

.setting-container {
  -fx-border-color: -fx-box-border;
  -fx-border-width: 0 0 1 0;
  -fx-padding: 1em 0;
}

.settings .setting-container .setting-title {
  -fx-font-size: 1.25em;
  -fx-padding: 0 0 0.5em 0;
  -fx-font-weight: bold;
}

.settings .setting-container .setting-description {
  -fx-text-fill: derive(-fx-text-background-color, -30%);
  -fx-padding: 0 0 0.5em 0;
}

.remove-item-button {
  -fx-min-height: 2em;
  -fx-max-height: 2em;
  -fx-min-width: 2em;
  -fx-max-width: 2em;
  -fx-margin: 0;
  -fx-padding: 0;
}

.remove-item-button .icon {
  -fx-max-width: 10;
  -fx-max-height: 10;
}

/***************** Hand cursor *****************/

.pointable {
  -fx-cursor: hand;
}

/***************** Login *****************/

.login-root {
}

.login-logo {
  -fx-background-color: -fx-light-text-color;
  -fx-min-width: 16em;
  -fx-max-width: 16em;
  -fx-min-height: 16em;
  -fx-max-height: 16em;
  -fx-scale-shape: true;
}

/***************** Chart*****************/

.axis {
  -fx-tick-label-font-size: 1em;
}

.default-color0.chart-bar:highlighted-bar {
  -fx-bar-fill: HIGHLIGHT_COLOR;
}

/***************** Hint *****************/

.hint {
  -fx-border-color: -divider-color;
  -fx-padding: 1em;
  -fx-graphic-text-gap: 1em;
}

/***************** Faction buttons *****************/

.toggle-button.faction-button {
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: -fx-box-border;
  -fx-border-width: 1;
  -fx-padding: 1em;
  -fx-min-width: 6em;
  -fx-min-height: 6em;
  -fx-max-width: 6em;
  -fx-max-height: 6em;
  -fx-background-color: -fx-background;
  -fx-background: -fx-control-inner-background;
}

.toggle-button.faction-button .aeon-icon,
.toggle-button.faction-button .seraphim-icon {
  -fx-max-width: 3em;
  -fx-max-height: 4em;
}

.toggle-button.faction-button * {
  -fx-opacity: 0.2;
}

.toggle-button.faction-button:selected * {
  -fx-opacity: 1;
}

.toggle-button.faction-button:selected {
  -fx-background: derive(-fx-control-inner-background, 10%);
  -fx-color: -fx-accent;
}

.toggle-button.pane-toggler {
  -fx-border-color: -fx-box-border;
  -fx-background: #FFFFFF09;
  /* Should be derived by ladder function but it doesn't work well with transparency */
  -fx-text-background-color: -fx-light-text-color;
  -fx-padding: 0.833333em .25em;
}

.toggle-button.pane-toggler:left:closed .toggle-icon,
.toggle-button.pane-toggler:right:opened .toggle-icon {
  -fx-shape: "M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z";
}

.toggle-button.pane-toggler:left:opened .toggle-icon,
.toggle-button.pane-toggler:right:closed .toggle-icon {
  -fx-shape: "M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z";
}

.toggle-button.pane-toggler:hover {
  -fx-background: -fx-hover-base;
}

.pane-toggler .icon {
  /* I would've preferred not to, but it was the only way to make it less high (width wasn't an issue) */
  -fx-max-height: 0.833333em;
  -fx-padding: 0 0.25em;
}

.pane-toggler:right {
  -fx-border-width: 0;
  -fx-background-radius: 3 0 0 3;
}

.faction-icon {
  -fx-pref-width: 2em;
  -fx-pref-height: 2em;
}

.faction-icon .aeon.icon,
.aeon-icon {
  -fx-background-color: AEON_COLOR;
}

.faction-icon .cybran.icon,
.cybran-icon {
  -fx-background-color: CYBRAN_COLOR;
}

.faction-icon .uef.icon,
.uef-icon {
  -fx-background-color: UEF_COLOR;
}

.faction-icon .seraphim.icon,
.seraphim-icon {
  -fx-background-color: SERAPHIM_COLOR;
}

/***************** Map preview *****************/

.map-preview {
  -fx-border-width: 1;
  -fx-border-color: -divider-color;
}

/***************** Game status indicator *****************/

.game-status-indicator {
  -fx-font-size: 0.8em;
}

/***************** Game Detail *****************/

.game-detail-pane {
  -fx-background-color: -fx-background;
  -fx-background: #FFFFFF09;
  /* Should be derived by ladder function but it doesn't work well with transparency */
  -fx-text-background-color: -fx-light-text-color;
  -fx-background-insets: 0 0 0 0;
}

.game-detail .game-title {
  -fx-font-size: 1.5em;
}

/***************** Rating change*****************/

.rating-change-label {
  -fx-font-size: 9px;
}

.rating-change-label:positive {
  -fx-text-fill: -good;
}

.rating-change-label:negative {
  -fx-text-fill: -bad;
}

/***************** Review *****************/

.review-score {
  -fx-font-size: 3em;
}

.review-stars:selectable .review-star {
  -fx-cursor: hand;
}

.review-star-background {
  -fx-background-color: -fx-mid-text-color;
}

.review-star-fill {
  -fx-background-color: -fx-light-text-color;
}

.large-stars .review-stars {
  -fx-spacing: 10;
}

.review-star-background, .review-star-fill {
  -fx-font-size: 2em;
}

.small-stars .review-star-background,
.small-stars .review-star-fill {
  -fx-font-size: 1em;
}

.medium-stars .review-star-background,
.medium-stars .review-star-fill {
  -fx-font-size: 1.5em;
}

.score-bar.five {
  -fx-background-color: REVIEW_SCORE_5;
}

.score-bar.four {
  -fx-background-color: REVIEW_SCORE_4;
}

.score-bar.three {
  -fx-background-color: REVIEW_SCORE_3;
}

.score-bar.two {
  -fx-background-color: REVIEW_SCORE_2;
}

.score-bar.one {
  -fx-background-color: REVIEW_SCORE_1;
}

/***************** Mod review *****************/

.review-score {
  -fx-font-size: 3em;
}

.score-bar.five {
  -fx-background-color: REVIEW_SCORE_5;
}

.score-bar.four {
  -fx-background-color: REVIEW_SCORE_4;
}

.score-bar.three {
  -fx-background-color: REVIEW_SCORE_3;
}

.score-bar.two {
  -fx-background-color: REVIEW_SCORE_2;
}

.score-bar.one {
  -fx-background-color: REVIEW_SCORE_1;
}

/***************** Cards *****************/

.card {
  -fx-background-color: -fx-background;
  -fx-background: -card-color;
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-width: 1;
  -fx-border-color: -fx-box-border;
}

.image-dimmer {
  -fx-min-height: 6em;
  -fx-padding: 0 10 10 10;
  -fx-background-color: linear-gradient(#00000000, #000000ff);
}

.card-title {
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
}

.card:hover {
  -fx-background: derive(-card-color, 10%);
}

.card.hoverable:hover:pressed {
  -fx-background: -card-color;
}

.card.hoverable:hover .image-dimmer {
  -fx-background-color: linear-gradient(#33333300, #333333ff);
}

.card:selected {
  -fx-background: -fx-accent;
}

/***************** Replay Card *****************/

.replay-card {
  -fx-cursor: hand;
}

/***************** Game Card *****************/

.game-card .lock-icon {
  -fx-font-size: 2em;
  -fx-effect: dropshadow(gaussian, black, 5, 0.5, 0, 0);
}

.game-card .card-title {
  -fx-font-size: 1.2em;
}

.table-row-cell {
  -fx-border-color: null;
  -fx-border-width: 0;
}