/*******************************************************************************
 *                                                                             *
 * Root					 				                       			   			   			   	  	   *
 *                                                                             *
 ******************************************************************************/
.root {
  /* Dark theme */
  -fx-base: -grey-900;
  -fx-background: -grey-900;

  /* make controls (buttons, thumb, etc.) slightly lighter */
  -fx-color: derive(-fx-base, 10%);

  /* make controls (buttons, thumb, etc.) even more lighter when selected*/
  -fx-color-select: derive(-fx-base, 30%);

  /* text fields and table rows background */
  -fx-control-inner-background: rgb(20, 20, 20);
  /* version of -fx-control-inner-background for alternative rows */
  -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

  /* text colors depending on background's brightness */
  -fx-light-text-color: #DCDCDC;
  -fx-mid-text-color: #646464;
  -fx-dark-text-color: #141414;

  /* A bright color for highlighting/accenting objects.  For example: selected
   * text; selected items in menus, lists, trees, and tables; progress bars */
  -fx-accent: -teal-500;
  -dimmed-accent: -teal-900;
  -fx-box-border: -grey-600;

  /* color of non-focused yet selected elements */
  -fx-selection-bar-non-focused: -teal-900;

  /* Meaningful Colors */
  -good: -green-500;
  -warn: -orange-500;
  -bad: -red-500;

  -fx-disabled-opacity: 0.8;

  SHADOW_COLOR: #00000099;

  /* Review score color palette */
  REVIEW_SCORE_5: #117D3C;
  REVIEW_SCORE_4: #9BD454;
  REVIEW_SCORE_3: #d4bb5a;
  REVIEW_SCORE_2: #e9985d;
  REVIEW_SCORE_1: #ae453b;

  /* Review score color palette */
  REVIEW_SCORE_5: #117D3C;
  REVIEW_SCORE_4: #9BD454;
  REVIEW_SCORE_3: #d4bb5a;
  REVIEW_SCORE_2: #e9985d;
  REVIEW_SCORE_1: #ae453b;

  /* Chart Color Palette */
  CHART_COLOR_1: #609E15;
  CHART_COLOR_2: #9BD454;
  CHART_COLOR_3: #117D3C;
  CHART_COLOR_4: #42A86B;
  CHART_COLOR_5: #AE3417;
  CHART_COLOR_6: #E9775C;
  CHART_COLOR_7: #951448;
  CHART_COLOR_8: #C84F80;
  /* Chart Color Palette Semi-Transparent
   * These are used by charts that need semi transparent versions of the above colors, such as BubbleChart. They
     * are exactly the same colors as above just with alpha
     *
     * 20% opacity
     */
  CHART_COLOR_1_TRANS_20: #609E1533;
  CHART_COLOR_2_TRANS_20: #9BD45433;
  CHART_COLOR_3_TRANS_20: #117D3C33;
  CHART_COLOR_4_TRANS_20: #42A86B33;
  CHART_COLOR_5_TRANS_20: #AE341733;
  CHART_COLOR_6_TRANS_20: #E9775C33;
  CHART_COLOR_7_TRANS_20: #95144833;
  CHART_COLOR_8_TRANS_20: #C84F8033;
  /* 70% opacity */
  CHART_COLOR_1_TRANS_70: #609E15b3;
  CHART_COLOR_2_TRANS_70: #9BD454b3;
  CHART_COLOR_3_TRANS_70: #117D3Cb3;
  CHART_COLOR_4_TRANS_70: #42A86Bb3;
  CHART_COLOR_5_TRANS_70: #AE3417b3;
  CHART_COLOR_6_TRANS_70: #E9775Cb3;
  CHART_COLOR_7_TRANS_70: #951448b3;
  CHART_COLOR_8_TRANS_70: #C84F80b3;

  -divider-color: -grey-800;
  /* -grey-800 plus transparency */
  -card-color: #42424299;
  /* -grey-700 plus transparency */
  -card-color-hover: #61616199;
  /* -grey-900 plus transparency */
  -dimmer-color: #21212199;
  -card-map-subtitle-color: #c7c7c7
}

/***************** Remove ugly borders and default background introduced by modena *****************/

.scroll-pane,
.split-pane,
.tree-view,
.list-view,
.table-view,
.tree-table-view,
.tree-table-row-cell,
.titled-pane,
.html-editor {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.tree-table-view.invisible-selection .tree-table-row-cell {
  -fx-background-color: transparent;
}

.tree-table-view.invisible-selection .tree-table-row-cell:hover {
  -fx-background-color: -grey-700;
}

.split-pane > .split-pane-divider {
  -fx-padding: 0 1 0 0;
  -fx-background-color: -divider-color;
}

/*******************************************************************************
 *                                                                             *
 * Tables	                                                                     *
 *                                                                             *
 ******************************************************************************/
.table-view, .tree-table-view {
  -fx-table-header-border-color: transparent;
  -fx-table-cell-border-color: -divider-color;
  -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
  -fx-size: 4em;
  -fx-border-style: null;
  -fx-border-color: -divider-color; /* Horizontal Lines*/
  -fx-border-width: 0 0 2 0;
  -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label {
  -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background {
  -fx-background-color: transparent;
}

.table-row-cell {
  -fx-background-color: transparent;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0;
}

.table-row-cell, .tree-table-row-cell {
  -fx-cell-size: 3em;
}

.table-row-cell:selected, .tree-table-row-cell:selected {
  -fx-background-color: -fx-selection-bar-non-focused;
}

/*******************************************************************************
 *                                                                             *
 * Button, ToggleButton & MenuButton                                           *
 *                                                                             *
 ******************************************************************************/

.button {
  -fx-pref-height: 36px;
  -fx-background-color: #FFFFFF11;
}

.button:hover {
  -fx-background-color: #FFFFFF33;
}

.button:default,
.button-raised {
  -fx-padding: 0.7em 1em;
  -jfx-button-type: RAISED;
  -fx-background-color: white;
  -fx-text-fill: -fx-dark-text-color;
}
.button-raised .icon {
  -fx-text-fill: -fx-dark-text-color;
}

.button:default:hover,
.button-raised:hover {
  -fx-background-color: -grey-200;
}

.toggle-button {
  -fx-color: transparent;
  -fx-background-color: -fx-color;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: transparent;
}

.toggle-button.game-list-type:selected {
  -fx-background-color: -fx-color-select;
}

.toggle-button, .button {
  -fx-padding: 0.5em 1em;
}

.icon-button {
  -fx-text-overrun: clip;
  -fx-background-color: transparent;
  -fx-background-radius: 3em;
  -fx-pref-width: 3em;
  -fx-pref-height: 3em;
  -fx-cursor: hand;
}

.icon-button > .text {
  -fx-font-family: 'dfc-icons';
  -fx-padding: 4;
  -fx-font-size: 2em;
}

.icon-button:hover {
  -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * WebView                  			  				                                   *
 *                                                                             *
 ******************************************************************************/

.close-search-text-button {
  -fx-background-image: url('images/close.png');
  -fx-background-size: contain;
  -fx-min-width: 48px;
  -fx-max-width: 48px;
}

.html-editor .web-view {
  -fx-border-width: 0;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
  -fx-text-fill: -fx-text-base-color;
}

.label:disabled {
  -fx-opacity: -fx-disabled-opacity;
}

.label:show-mnemonics > .mnemonic-underline {
  -fx-stroke: -fx-text-base-color;
}

.label.bold {
  -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * Bad Highlighting                                                            *
 *                                                                             *
 ******************************************************************************/

.bad {
  -fx-text-fill: -bad;
}

.bad > .jfx-check-box {
  -jfx-unchecked-color: -bad;

}

/*******************************************************************************
 *                                                                             *
 * ScrollPane       		                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane > .viewport {
  -fx-background: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/
.scroll-bar {
  -fx-padding: 0;
}

.big-scroll-bar .scroll-bar {
  -fx-pref-width: 0.4cm;
  -fx-pref-height: 0.4cm;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
  -fx-background-color: -grey-800;
  -fx-background-insets: 0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
  -fx-background-color: -grey-700;
  -fx-background-insets: 0;
  -fx-background-radius: 3;
}

.scroll-bar:vertical > .thumb:hover, .scroll-bar:horizontal > .thumb:hover {
  -fx-background-color: -grey-600;
}

.scroll-bar:vertical > .thumb:pressed, .scroll-bar:horizontal > .thumb:pressed {
  -fx-background-color: -grey-500;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
  -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
  -fx-background-color: -grey-500;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow,
.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
  -fx-padding: 0;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/
.slider {
  -fx-padding: 10 0 10 0;
}

.slider:vertical {
  -fx-padding: 0 10 0 10;
}

.slider > .track {
  -fx-background-color: -grey-500;
  -fx-background-insets: 1.5;
}

/*******************************************************************************
 *                                                                             *
 * Pagination                                                                  *
 *                                                                             *
 ******************************************************************************/

.pagination-control {
  -fx-font-size: 1.5em;
}

/***************** Icon *****************/

.icon {
  -fx-font-family: 'dfc-icons';
  -fx-font-size: 20;
  -fx-fill: -fx-light-text-color;
  -fx-padding: 0;
}

.icon.small {
  -fx-font-size: 1em;
}

.icon.large {
  -fx-font-size: 5em;
}

.button.icon {
  -fx-text-overrun: clip;
  -fx-background-color: transparent;
  -fx-background-radius: 3em;
  -fx-pref-width: 3em;
  -fx-pref-height: 3em;
  -fx-cursor: hand;
}

.button.icon.medium {
  -fx-padding: 0.2em 0.6em 0.2em 0.6em;
}

.checked-icon {
  -fx-text-fill: -fx-accent;
}

/***************** Popup *****************/

.popup {
  -fx-effect: null;
  -fx-background: -fx-base;
  -fx-background-color: -fx-background;
  -fx-border-color: -fx-box-border;
}

.context-menu {
  -fx-min-width: 160;
}

/***************** Tooltip *****************/

.tooltip {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-padding: 1em;
  -fx-effect: null;
  -fx-font-size: 1em;
}

/***************** Dimmer *****************/

/* Dims the background of a modal popup */
.dimmer {
  -fx-background: -dimmer-color;
  -fx-background-color: -fx-background;
}

/***************** Modal Popup *****************/

.modal-popup {
  -fx-background-color: -fx-base;
  -fx-border-color: -fx-box-border;
}

/***************** Window decoration *****************/

.borderless-window {
  -fx-background-color: -grey-900;
  -fx-border-width: 1;
  -fx-border-color: -fx-box-border;
}

.borderless-window:maximized {
  -fx-border-width: 0;
}

.window-button {
  -fx-background-color: transparent;
  -fx-min-height: 20;
  -fx-max-height: 20;
  -fx-margin: 0;
  -fx-padding: 0;
}

.window-button:hover {
  -fx-background-color: -grey-800;
}

.minimize-button {
  -fx-background-image: url('images/minimize.png');
  -fx-min-width: 28px;
  -fx-max-width: 28px;
}

.maximize-button {
  -fx-background-image: url('images/maximize.png');
  -fx-min-width: 27px;
  -fx-max-width: 27px;
}

.restore-button {
  -fx-background-image: url('images/restore.png');
  -fx-min-width: 27px;
  -fx-max-width: 27px;
}

.close-button {
  -fx-background-image: url('images/close.png');
  -fx-min-width: 48px;
  -fx-max-width: 48px;
}

.close-button:hover {
  -fx-background-color: #D32F2F;
}

.close-button:pressed {
  -fx-background-color: derive(#D32F2F, -40%);
}

/***************** Status bar *****************/

.status-bar .progress-indicator {
  -fx-pref-height: 1em;
  -fx-pref-width: 1em;
}

.status-bar {
  -fx-spacing: 10;
}

.status-bar .text {
  -fx-font-size: 1em;
}

.status-bar .tooltip {
  -fx-font-size: 1em;
}

.status-bar-menu-button {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
}

.status-bar-menu-button > .label {
  -fx-padding: 0 0 0 0;
}

.status-bar-menu-button:openvertically > .arrow-button > .arrow {
  -fx-shape: "M0 1 L1 1 L.5 0 Z";
}

.connection-status .text {
  -fx-font-size: 0.7em;
}

.connection-status:connected .text {
  -fx-fill: -good;
}

.connection-status:disconnected .text {
  -fx-fill: -bad;
}

/***************** Tabs *****************/

.tab-header-area {
  -fx-border-color: -fx-box-border;
  -fx-border-width: 0 0 1 0;
}

.tab-header-background {
  -fx-background-color: transparent;
}

.tab:unread {
  -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-accent;
}

.tab-pane > .tab-header-area {
  -fx-padding: 0;
  -fx-border-width: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-width: 0;
}

.tab {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.tab:hover {
  -fx-border-color: -dimmed-accent;
}

.tab:selected {
  -fx-border-color: -fx-accent;
}

.tab-label {
  -fx-padding: 0 4 0 0;
}

.tab:top {
  -fx-padding: 10 15;
  -fx-border-width: 0 0 2 0;
}

.tab:left {
  /* Since the text is rotated 90°, these values are as well (right is top, width is height) */
  -fx-border-width: 4 0 0 0;
}

.tab:left .label {
  -fx-padding: 0 0 0 1em;
}

/***************** Headers *****************/

.header {
  -fx-font-size: 1.6em;
  -fx-padding: 1em;
}

/***************** Generic View Content *****************/

.view-content {
  -fx-padding: 0 1.5em;
  -fx-spacing: 10px;
  -fx-hgap: 10px;
  -fx-vgap: 10px;
}

/***************** Headings *****************/

.h1 {
  -fx-font-size: 32px;
  -fx-padding: 0 0 0.5em 0;
}

.h2 {
  -fx-font-size: 24px;
  -fx-padding: 0 0 0.5em 0;
}

.h3 {
  -fx-font-weight: bold;
}

/***************** Titled pane *****************/

.titled-pane > .title {
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-border-color: -fx-box-border;
  -fx-font-weight: bold;
}

.titled-pane > .content {
  -fx-border-color: transparent;
}

.titled-pane > .content > VBox {
  -fx-padding: 0;
}

.titled-pane > .title > .arrow-button > .arrow {
  -fx-background-insets: 0;
  -fx-effect: null;
}

.titled-pane > *.content {
  -fx-background-color: transparent;
}

/***************** Chat User List *****************/

.chat-user-item {
  -fx-padding: 0;
}

.chat-user-item-status {
  -fx-font-size: 0.8em;
}

.chat-user-list-view .list-cell {
  -fx-background-color: transparent;
  -fx-padding: 1px 8px 1px 8px;
}

.chat-user-list-category {
  -fx-padding: 20px 0px 10px 0px;
  -fx-font-weight: bold;
}

/***************** Chat User Control *****************/

.channel-tab-friends-title .chat-user-control-clan .text,
.channel-tab-friends-title .chat-user-control-username .text {
  -fx-fill: #16B7EB;
}

.channel-tab-foes-title .chat-user-control-clan .text,
.channel-tab-foes-title .chat-user-control-username .text {
  -fx-fill: #FF0000;
}

.channel-tab-moderators-title .chat-user-control-clan .text,
.channel-tab-moderators-title .chat-user-control-username .text {
  -fx-fill: #FFFFFF;
}

.channel-tab-chat-only-title .chat-user-control-clan .text,
.channel-tab-chat-only-title .chat-user-control-username .text {
  -fx-fill: #808080;
}

.channel-tab-others-title .chat-user-control-clan .text,
.channel-tab-others-title .chat-user-control-username .text {
  -fx-fill: #BFBEBA;
}

.chat-user-control-clan.self,
.chat-user-control-username.self {
  -fx-fill: #FFA500;
}

.chat-user-control-clan {
  -fx-background-color: transparent;
}

.chat-user-control-clan .label {
  -fx-padding: 0;
}

.chat-user-control-clan > .arrow-button,
.chat-user-control-clan > .arrow-button > .arrow {
  -fx-padding: 0;
  visibility: hidden;
}

.chat-user-control-clan:hover > .arrow-button,
.chat-user-control-clan:hover > .arrow-button > .arrow {
  /* Restore value from Modena */
  -fx-padding: 0.25em;
  visibility: visible;
}

/***************** Privat Chat User Info *****************/

.private-chat-user-info-data {
  -fx-font-size: 14px;
}

/***************** Main window header *****************/

.main-navigation-top {
  -fx-padding: 0 100 0 15;
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 2 0;
}

.main-navigation-top:restored {
  /* Same as height of close button */
  -fx-padding: 20 100 0 15;
}

.main-navigation-button {;
  -fx-color: transparent;
  -fx-font-size: 1.2em;
  -fx-padding: 10 20;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: transparent;
  -fx-max-height: Infinity;
}

.main-navigation-button:highlighted {
  -fx-background-color: -fx-accent;
}

.main-navigation-button:hover {
  -fx-color: transparent;
  -fx-border-color: -dimmed-accent;
}

.main-navigation-button:armed, .main-navigation-button:selected, .main-navigation-button:focused:selected {
  -fx-background-color: transparent;
  -fx-border-color: -fx-accent;
}

.main-menu-button {
  -fx-color: transparent;
}

.main-menu-button:hover {
  -fx-color: -grey-800;
}

.main-menu-button > .label > .text {
  -fx-font-family: 'dfc-icons';
  -fx-font-size: 20px;
}

.main-menu-button > .arrow-button > .arrow {
  visibility: hidden;
}

.main-menu-button > .arrow-button {
  visibility: hidden;
  -fx-padding: 0;
}

.username-button {
  -fx-padding: 0;
  -fx-focus-color: transparent;
  -fx-background-color: transparent;
}

/***************** News & Tournaments *****************/

.news-item, .tournament-item {
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 1 0;
  -fx-padding: 20 10 20 10;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
}

.news-item:hover, .tournament-item:hover {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -dimmed-accent;
}

.news-list .list-cell:filled:selected .news-item, .tournament-list .list-cell:filled:selected .tournament-item {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -fx-accent;
}

.news-item-authored {
  -fx-font-size: 0.8em;
  -fx-text-fill: -fx-mid-text-color;
}

.news-list .list-cell, .tournament-list .list-cell {
  -fx-padding: 0 0 0 0;
  -fx-background-color: transparent;
}

/***************** Tutorials *****************/

.tutorial-item {
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 1 0;
  -fx-cursor: hand;
  -fx-text-fill: -fx-mid-text-color;
  -fx-padding: 20 10 20 10;
  -fx-background-radius: 0;
}

.tutorial-item:hover {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -dimmed-accent;
}

.tutorial-item:selected {
  -fx-border-width: 0 0 1 4;
  -fx-padding: 20 10 20 6;
  -fx-border-color: transparent transparent -divider-color -fx-accent;
}

.tutorial-item-authored {
  -fx-text-fill: -secondary-text-color;
  -fx-font-size: 0.8em;
}

.tutorial-category-title {
  -fx-text-fill: -fx-light-text-color;
  -fx-font-size: 1.2em;
}

.tutorial-category-item {
  -fx-border-color: -divider-color;
  -fx-border-width: 0 0 1 0;
  -fx-text-fill: -fx-mid-text-color;
  -fx-padding: 20 10 20 10;
  -fx-background-radius: 0;
}

.tutorial-detail-title {
  -fx-font-size: 1.2em;
}

/***************** Notification Badge *****************/

.notification-badge {
  -fx-padding: 0 2;
  -fx-background-radius: 1.5em;
  -fx-pref-width: 1.5em;
  -fx-pref-height: 1.5em;
  -fx-background-color: -fx-accent;
}

.notification-badge:info {
  -fx-background-color: -good;
}

.notification-badge:warn {
  -fx-background-color: -warn;
}

.notification-badge:error {
  -fx-background-color: -bad;
}

.notification-badge > .text {
  -fx-font-size: 0.8em;
}

/***************** Notification Button *****************/

.notification-button {
}

/***************** Create game *****************/

.game-title-input {
  -fx-font-size: 0.8cm;
}

/***************** Settings window *****************/

.settings-head {
  -fx-font-size: 1.5em;
  -fx-padding: 1em;
}

.settings-content {
  -fx-padding: 1.5em;
}

.settings-content * {
  -fx-spacing: 10px;
  -fx-hgap: 10px;
  -fx-vgap: 10px;
}

/***************** Hand cursor *****************/

.pointable {
  -fx-cursor: hand;
}

/***************** Login *****************/

.login-root {
  -fx-background-image: url('images/login-background.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover, auto;
}

.login-logo {
  -fx-font-size: 12em;
}

/***************** Chart*****************/

.axis {
  -fx-tick-label-font-size: 1em;
}

.default-color0.chart-bar:highlighted-bar {
  -fx-bar-fill: #FFA500;
}

/***************** Hint *****************/

.hint {
  -fx-border-color: -divider-color;
  -fx-padding: 1em;
  -fx-graphic-text-gap: 1em;
}

/***************** Faction buttons *****************/

.toggle-button.aeon .text,
.toggle-button.cybran .text,
.toggle-button.uef .text,
.toggle-button.seraphim .text {
  -fx-font-size: 4em;
  -fx-opacity: 0.1;
  -fx-border-width: 1;
  -fx-border-color: -divider-color;
}

.toggle-button.aeon .text {
  -fx-fill: -green-500;
}

.toggle-button.cybran .text {
  -fx-fill: -red-500;
}

.toggle-button.uef .text {
  -fx-fill: -blue-500;
}

.toggle-button.seraphim .text {
  -fx-fill: -amber-500;
}

.toggle-button.aeon:selected .text,
.toggle-button.cybran:selected .text,
.toggle-button.uef:selected .text,
.toggle-button.seraphim:selected .text {
  -fx-opacity: 1;
}

/***************** Map preview *****************/

.map-preview {
  -fx-border-width: 1;
  -fx-border-color: -divider-color;
}

/***************** Game status indicator *****************/

.game-status-indicator {
  -fx-font-size: 0.8em;
}

/***************** Game Card *****************/

.game-card .lock-icon {
  -fx-font-size: 2em;
  -fx-effect: dropshadow(gaussian, black, 5, 0.5, 0, 0);
}

/***************** Rating change*****************/

.rating-change-label {
  -fx-font-size: 9px;
}

.rating-change-label:positive {
  -fx-text-fill: -good;
}

.rating-change-label:negative {
  -fx-text-fill: -bad;
}

/***************** Review *****************/

.review-score {
  -fx-font-size: 3em;
}

.review-stars:selectable .review-star {
  -fx-cursor: hand;
}

.review-star-background {
  -fx-fill: -fx-mid-text-color;
}

.review-star-fill {
  -fx-fill: -fx-light-text-color;
}

.large-stars .review-stars {
  -fx-spacing: 10;
}

.review-star-background, .review-star-fill {
  -fx-stroke-width: 0;
  -fx-stroke: transparent;
  -fx-font-size: 2em;
}

.small-stars .review-star-background,
.small-stars .review-star-fill {
  -fx-font-size: 1em;
}

.medium-stars .review-star-background,
.medium-stars .review-star-fill {
  -fx-font-size: 1.5em;
}

.score-bar.five {
  -fx-background-color: REVIEW_SCORE_5;
}

.score-bar.four {
  -fx-background-color: REVIEW_SCORE_4;
}

.score-bar.three {
  -fx-background-color: REVIEW_SCORE_3;
}

.score-bar.two {
  -fx-background-color: REVIEW_SCORE_2;
}

.score-bar.one {
  -fx-background-color: REVIEW_SCORE_1;
}

/***************** Mod review *****************/

.review-score {
  -fx-font-size: 3em;
}

.score-bar.five {
  -fx-background-color: REVIEW_SCORE_5;
}

.score-bar.four {
  -fx-background-color: REVIEW_SCORE_4;
}

.score-bar.three {
  -fx-background-color: REVIEW_SCORE_3;
}

.score-bar.two {
  -fx-background-color: REVIEW_SCORE_2;
}

.score-bar.one {
  -fx-background-color: REVIEW_SCORE_1;
}

/***************** Cards *****************/

.card {
  -fx-background: -card-color;
  -fx-background-color: -fx-background;
  -fx-background-radius: 2;
  -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 6, 0.3, 1, 1);
}

.card-dimmer {
  -fx-min-height: 112;
  -fx-padding: 0 10 10 10;
  -fx-background-color: linear-gradient(#00000000, #000000ff);
}

.card-title {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.card-featured-mod {
  -fx-font-size: 11px;
  -fx-text-fill: -fx-light-text-color;
}

.card-info {
  -fx-font-size: 14px;
}

.card-mod-list {
  -fx-font-size: 14px;
}

.card-subtitle {
  -fx-font-size: 12px;
  -fx-text-fill: -card-map-subtitle-color;
}

.control-label {
  -fx-font-size: 12px;
  -fx-padding: 16 0 0 0;
}

.card-button {
  -fx-effect: null;
}

.card.hoverable:hover,
.card.pointable:hover {
  -fx-background: -grey-700;
}

.card.hoverable:hover:pressed,
.card.pointable:hover:pressed {
  -fx-background: -card-color;
}

.card.hoverable:hover .card-dimmer,
.card.pointable:hover .card-dimmer {
  -fx-background-color: linear-gradient(#33333300, #333333ff);
}

.card:selected {

}
